[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
accelerate = "*"
huggingface-hub = "*"
llama-cpp-python = "*"
jinja2 = "*"
polygon-api-client = "*"
yfinance = "*"
duckdb = "*"
pandas = "*"
openai = "*"

[dev-packages]

[requires]
python_version = "3.11"
